/* font settings */
$main-font: 'Poppins', sans-serif;
$main-font-size: 16px;

/* padding and margin settings */
$padding: 16px;
$padding-sm: $padding/2;
$padding-lg: $padding*2;

$margin: 16px;
$margin-sm: $margin/2;
$margin-lg: $margin*2;
