* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

body {
  font-family: $main-font;
  color: #222222;
  font-weight: 400;
  font-style: normal;
  overflow-x: hidden;
  font-size: 16px;
  scroll-behavior: smooth;
}

a:focus, input:focus, textarea:focus, button:focus {
  text-decoration: none;
  outline: none
}

a:focus, a:hover {
  text-decoration: none
}

h1,
h2,
h3,
h4,
h5,
h6 { font-family: 'Amatic SC', cursive; }

h1 { font-size: 24px;}

h2 {font-size: 20px;}

h3 {font-size: 18px;}

a {text-decoration: none;}

p {
  font-family: $main-font;
  font-size: 14px;
}

ul {list-style-type: none;}

hr {margin: 0;}

.float-left {
  float: left;
}

.float-right {
  float: right;
}
