.btn-custom {
  margin: 0 6px;
  padding: 12px 46px 12px 46px;
  border-radius: 28px;;
  font-size: 13px;
  text-transform: uppercase;
  transition: all .5s;
}

.btn-outline-transparent {
  border: 1px solid #fff;
  color: #fff;
}

.btn-outline-white {
  border: 1px solid #d13800;
  color: #000000;
}

.btn-outline-transparent:hover,
.btn-outline-transparent:focus,
.btn-outline-white:hover,
.btn-outline-white:focus {
  border: 1px solid #d13800;
  color: #fff;
  background-color: #d13800;
}

@media(max-width: 400px) {
  .btn-outline-transparent {
    margin-top: 16px;
  }
}
