section {
  margin-top: 25px;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
}

section .section-content {
  display: flex;
  flex-direction: column;
  padding-top: 25px;
  padding-bottom: 25px;
}
