.banner {
  background-image: url("../img/background.jpg");
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  margin: 0;
}

.banner .banner-wrapper {
  height: 750px;
  position: relative;
  overflow: hidden;
  z-index: 1
}

@media only screen and (min-width: 1400px) {
  .banner .banner-wrapper {
    height: 950px
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .banner .banner-wrapper {
    height: 700px
  }
}

@media(max-width: 767px) {
  .banner .banner-wrapper {
    height: 650px
  }
}

.banner .banner-wrapper::before {
  position: absolute;
  content: '';
  background-color: rgba(43, 42, 61, .7);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1
}

.banner .banner_content_text {
  padding-top: 100px;
  text-align: center;
}

.banner .banner_content_text .banner_title {
  font-size: 50px;
  line-height: 85px;
  color: #fff;
  margin-top: 20px
}

.banner .banner_content_text .banner_subtitle {
  font-size: 40px;
  line-height: 85px;
  color: #fff;
  margin-top: 15px
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .banner .banner_content_text .banner_title {
    font-size: 44px;
    line-height: 65px
  }

  .banner .banner_content_text .banner_subtitle {
    font-size: 34px;
    line-height: 65px
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .banner .banner_content_text .banner_title {
    font-size: 40px;
    line-height: 60px
  }

  .banner .banner_content_text .banner_subtitle {
    font-size: 30px;
    line-height: 60px
  }
}

@media(max-width: 767px) {
  .banner .banner_content_text .banner_title {
    font-size: 24px;
    line-height: 38px
  }

  .banner .banner_content_text .banner_subtitle {
    font-size: 14px;
    line-height: 38px
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .banner .banner_content_text .banner_title {
    font-size: 40px;
    line-height: 60px
  }

  .banner .banner_content_text .banner_subtitle {
    font-size: 30px;
    line-height: 60px
  }
}

.banner .bg_cover {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%
}

.banner .banner-image {
  width: 150px;
  height: 150px;
}
