.contact-section {
  background-image: url("../img/background.jpg");
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  object-fit: cover;
  margin: 0;
}

.contact-section .wrapper {
  min-height: 750px;
  position: relative;
  overflow: hidden;
  z-index: 1
}

.contact-section .wrapper::before {
  position: absolute;
  content: '';
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1
}

.contact-section .section-header .title {
  padding-top: 50px;
  padding-bottom: 25px;
  color: #ffffff;
  font-size: 40px;
}

.contact-section .form-group {
  padding-bottom: 16px;
}

.contact-section .btn-outline-white {
  border: 1px solid #ffffff;
  background-color: #ffffff;
  color: #000000;
}

.contact-section .btn-outline-white:hover,
.contact-section .btn-outline-white:focus {
  border: 1px solid rgba(33, 37, 41, 1);
  color: #fff;
  background-color: rgba(33, 37, 41, 1);
}
